body{
    overflow-x: hidden;
    margin: 0px;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(255, 131, 93) ;
}
/*------------------
navigation bar
------------------*/
.logo{
    font-size: 30px;
    color: white;
    font-family: 'Roboto',sans-serif;
    margin: 10px 25px;
    position: absolute;
}
#ham{
    background:linear-gradient(45deg,rgb(255, 255, 255),rgb(255, 255, 255)) ;
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px!important;
    margin: 0px;
}
.nav{
    width:100%;
    height: 300px;
    background-color: rgb(255, 60, 0);
}
.nav-item{
    float: right;
}
.nav-option{
    font-size: 20px;
    text-decoration: none;
    color: white;
    float: right;
    padding:10 15px;
    font-family: 'Open sans',sans-serif;
    text-align: center;
}
.nav-bar{
    position: fixed;
    width: 100%;
    background-color: rgb(255, 60, 0);
    height: 50px;
}
.nav-button{
    display: none;
}
.nav h1{
    font-size: 40px;
    padding-top: 125px;
    text-align: center;
    color: white;
    font-family: 'Open sans',sans-serif;
    font-weight: 300;
    margin-top: 0%;
}
form{
    margin:5% 10% 0 10% ;
    padding: 10px 10px;
    background-color: white;
    display:flex;
    flex-direction:row;
}
.input{
    width:90% ;
    height: 45px;
    border: 1px solid rgb(255, 60, 0);
    font-size: medium;
}
.input:focus{
    outline: 0ch;
}
.button1{
    height: 45px;
    width: 100px;
    background-color: rgb(255, 60, 0);
    border: 1px solid rgb(255, 60, 0);
    font-family: 'Open sans',sans-serif;
    color: white;
    font-size: large;
    font-weight: 300;
    float: right;
}
.head h1{
    color: rgb(255, 60, 0);
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
    font-family: 'Open sans',sans-serif;
    font-weight: 300;
}
.head p{
    color: rgb(85, 85, 85);
    font-size: 18px;
    text-align: left;
    padding: 30 100 80 100px;
    font-family: 'Open sans',sans-serif;
}
.features{
    width: 100%;
    height:auto;
    overflow: hidden;
    padding-bottom: 5%;
    margin-bottom: 60px;
    background-color: rgb(240, 240, 240);
}
.features h1{
    color: rgb(80, 80, 80);
    font-size: 60px;
    padding-top:0px;
    text-align: center;
    font-family: 'Open sans',sans-serif;
    font-weight: 300;
}
.card{
    width:300px;
    height: auto;
    border:0px;
    margin:3% 5% ;
    float: left;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgb(163, 163, 163);
    font-family: 'lato',sans-serif;
    outline: 5px solid white;
    background-color: white;
}
h2{
    color: rgb(255, 60, 0);
}
p{
    color: rgb(124, 124, 124);
    margin: 5px 10px;
}
i{  
    background:linear-gradient(45deg,rgb(187, 187, 99),rgb(92, 148, 92)) ;
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10 0px;
    font-size:75px!important;
    
}

.download{
    display: none;
    width:75%;
    height: fit-content;
    margin: 0 12.5%;
    background-color: white;
    border: 0px solid rgb(255, 60, 0);
    display: flex;
    flex-direction: row;
    
}
h4{
    margin: 0px;
    padding:5px 20px;
    font-weight: 600;
    font-family: 'open sans',sans-serif;
    font-size: 19px;
    color: rgb(90, 90, 90);
}
.download iframe{
    display:none;
    margin: 20px;
    border: 5px solid rgb(112, 112, 112);
    margin-bottom: 0px;
    margin-right: 0px;
    width:100%;
    height: fit-content;
}
#info{
    display: none;
}
.link-details{
    width: 30%;
    margin-right: 10%;
}
.tabs{
    display:none;
    width:60% ;
    height: fit-content;
    overflow: hidden;
}
#video{
    display: flex;
}

.download select{
    width: 75px;
    height: 40px;
    color: rgb(255, 60, 0);
    border: 2px solid rgb(255, 60, 0);
    outline: 0px;
    font-size: 18px;
    background-color: white;
}
table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
td,tr{
    border: 1px solid rgb(182, 181, 181);
    padding: 25px 50px;
}
td{
    font-size: 18px;
    text-align: center;
    font-family: 'lato',sans-serif;
}
#Trimmer table:nth-of-type(2){
   margin-left: auto;
}
#Trimmer table:nth-of-type(1) td,tr{
    border: 0cap;
    outline: 0cap;
 }
 #Trimmer table:nth-of-type(1){
    margin: 0% auto;
 }
.download span{
    display: flex;
    flex-direction: row;
    padding: 150 50px;
    position: relative;
    float: right;
}
.downloadbut{
    width:80px;
    height: 35px;
    font-size: 15px;
    background-color: green;
    color: white;
    border: 0cm;
    border-radius: 2px;

}
.button2{
    background-color:transparent ;
    border: 0ch;
    color: grey;
    width:125px;
    font-size: large;
    height: 40px;
    margin-top: 10px;
}
.button2:nth-of-type(1){
    background-color: rgb(255, 60, 0);
    color: white;
}
h5{
    font-family: 'open sans',sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    margin: 15px;
}
.videoandaudio{
    width: 100%;
    border: 0cap;
    border-top: 1px solid rgb(255, 60, 0);
    margin-left: -1px;
    height: fit-content;
    display: none;
    flex-direction: row;
    margin-bottom: 10px;
}
.font25{
    font-size: 25px;
}
h3{
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 0px;
}
.inputtime{
    width:50px
}
.footer{
    width:100%;
    height:200px;
    background-color: rgb(46, 46, 46);
    float: left;
    border-top: 10px solid rgb(255, 60, 0);
    display: block;
}
.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}
.element1{
    margin-left: -25%;
    margin-top: -50px;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 30px;
    background-color: white;
    position: fixed;
    border-radius: 100px;
    box-shadow: 5px 5px 50px rgb(255, 60, 0);
    padding: 5px;
    overflow: hidden;
   
}
.element2{
    background-image: linear-gradient(90deg,rgb(255, 60, 0),#ff8e00);
    height:100%;
    border-radius: 100px;
    animation-name: load;
    animation-duration: 6s;
    text-align: center;
    overflow: hidden;
}
.light{
    width:60%;
    height: 100%;
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0),rgb(255, 255, 255,0.7),rgba(255, 255, 255, 0));
    animation: light 0.75s infinite;
    position: absolute;
}
@keyframes load {
    0%{
        width: 5%;
    }
    10%{
        width:20%;
    }
    45%{
        width:60%;
    }
    80%{
        width: 85%;
    }
    100%{
        width:100%;
    } 
}
@keyframes light {
    0%{
        transform: translateX(-60%);
    }
    100%{
        transform: translateX(140%);
    }
    
}


#loadn{
    content:"loading";
    color: white;
    position: absolute;
    margin-left: -5%;
    margin-top: 5px;
    position: absolute;
}
@media screen and (max-width:650px) {
    .nav h1{
        font-size: 30px;
        padding: 50px 0px;
        padding-top: 100px;
    }
    .logo{
        font-size: 25px;
        margin: 10px;
    }
    .nav{
        height: 285px;
    }
    .features{
        
        text-align: center;
    }
    .card{
        margin-left: 12%!important;
        margin-right: 12%!important;
    }
    table{
        margin-left: auto;
        margin-right: auto;
        width: 99%;
    }
    td,tr{
        padding: 12px 24px;
        font-size: 15px;
    }
    #Trimmer table:nth-of-type(1) td,tr{
        padding: 10px 20px;
    }
    .font25{
        font-size: 20px;
    }
    .element1{
        margin-left: -35%;
        margin-top: -50px;
        top: 50%;
        left: 50%;
        width: 70%;
    }
    #Trimmer table:nth-of-type(2){
        margin-left: auto;
        margin-right: auto;

    }
    #Trimmer table:nth-of-type(1){
        margin:0 auto;
        outline: 0ch;
        border: 0cap;
    }
    .inputtime{
        width: 35px;
    }
    .nav-item{
       position: fixed;
       height:0%;
       display: flex;
       flex-direction: column-reverse;
       background-color: rgb(255, 60, 0);
        width: 100%;
        overflow-y: hidden;
        transition: 0.5s;
        margin-top: 50px;
    }
    .nav-button{
        display: block;
        width: 50px;
        height: 50px;
        float: right;
        background-color: transparent;
        border: 0ch;
        margin: 0 10px;
    }
    .button1{
        font-size: 15px;
        width: 80px;
        height: 36px;
    }
    .tabs{
        width: 100%;
    }
    .download{
        flex-direction: column;
        width: 90%;
        margin: 0 5%;
    }
    .link-details{
        width: 90%;
        margin: 0px;
        padding: 0cap;
    }
    h4{
        font-size: 18px;
        margin-bottom: 25px;
    }
    .download iframe{
        margin: 5%;
        width: 100%;
    }
    .input{
        height: 36px;
        font-size: 15px;
    }
    form{
        margin:5% 7% 0 7% ;
        padding: 7px;
    }
    .nav-option{
        font-size: 30px;
    }
    .head p{
        padding: 0%;
        font-size: 15px;
    }
    .head h1{
        font-size: 35px;
        margin-top: 0%;
    }
    .features h1{
        font-size: 40px;
    }
    .card{
        margin-left: 5%;
    }
    i{
        font-size: 50px!important;
    }
    h2{
        font-size: 25px;
    }
}

@media screen and (max-width:325px){
    .nav h1{
        font-size: 23px;
    }
    
}
